### Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a collection of organized data that is stored in a way that allows for efficient retrieval and manipulation.

SQL (Structured Query Language) databases are relational databases that use a fixed schema to store data in tables with well-defined relationships between them. Examples of SQL databases include MySQL, PostgreSQL, and Microsoft SQL Server.

NoSQL databases, on the other hand, are non-relational databases that do not use a fixed schema to store data. They are often used for big data and real-time web applications. Examples of NoSQL databases include MongoDB, Cassandra, and Redis.

### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL (Data Definition Language) is a set of SQL statements used to define and modify the structure of a database.

CREATE: used to create a new table or database.
DROP: used to delete a table or database.
ALTER: used to modify the structure of a table.
TRUNCATE: used to delete all rows from a table.

In [ ]:
CREATE TABLE customers (
  id INT PRIMARY KEY,
  name VARCHAR(255),
  email VARCHAR(255)
);

DROP TABLE customers;

ALTER TABLE customers ADD COLUMN phone VARCHAR(20);

TRUNCATE TABLE customers;

### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML (Data Manipulation Language) is a set of SQL statements used to manipulate data in a database.

INSERT: used to add new data to a table.
UPDATE: used to modify existing data in a table.
DELETE: used to delete data from a table.
Example:

In [ ]:
INSERT INTO customers (name, email) VALUES ('John Doe', 'john@example.com');

UPDATE customers SET name = 'Jane Doe' WHERE id = 1;

DELETE FROM customers WHERE id = 1;

### Q4. What is DQL? Explain SELECT with an example.

In [ ]:
DQL (Data Query Language) is a set of SQL statements used to retrieve data from a database.

SELECT: used to retrieve data from a table.
Example:

In [ ]:
SELECT * FROM customers WHERE name = 'John Doe';

### Q5. Explain Primary Key and Foreign Key.

Primary Key: a unique identifier for each row in a table. It is used to uniquely identify each record in a table.
Foreign Key: a field in a table that refers to the primary key of another table. It is used to establish relationships between tables.
Example:

In [ ]:
CREATE TABLE orders (
  id INT PRIMARY KEY,
  customer_id INT,
  FOREIGN KEY (customer_id) REFERENCES customers(id)
);

### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

cnx = mysql.connector.connect(
  user='username',
  password='password',
  host='localhost',
  database='database'
)

cursor = cnx.cursor()

query = "SELECT * FROM customers"
cursor.execute(query)

for row in cursor.fetchall():
  print(row)

cnx.close()

### Q7. Give the order of execution of SQL clauses in an SQL query.

The order of execution of SQL clauses in an SQL query is:

FROM
WHERE
GROUP BY
HAVING
SELECT
ORDER BY
LIMIT
This order is important because it determines how the query is executed and what results are returned.