### Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

series = pd.Series([4, 8, 15, 16, 23, 42])
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

### Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [3]:
import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series = pd.Series(my_list)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

### Q3. Create a Pandas DataFrame that contains the following data:

In [4]:
import pandas as pd

data = {'Name': ['John', 'Mary', 'David', 'Jane'],
        'Age': [25, 31, 42, 28],
        'Score': [90, 85, 95, 88]}
df = pd.DataFrame(data)
print(df)

    Name  Age  Score
0   John   25     90
1   Mary   31     85
2  David   42     95
3   Jane   28     88

### Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

A Pandas DataFrame is a two-dimensional table of data with columns of potentially different types. It is similar to an Excel spreadsheet or a table in a relational database.

A Pandas Series, on the other hand, is a one-dimensional labeled array of values.

Here is an example:

In [5]:
import pandas as pd

# Create a Series
series = pd.Series([1, 2, 3, 4, 5])
print(series)

# Create a DataFrame
data = {'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]}
df = pd.DataFrame(data)
print(df)

0    1
1    2
2    3
3    4
4    5
dtype: int64
   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

### Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

Some common functions for manipulating data in a Pandas DataFrame include:

drop(): drop rows or columns from the DataFrame
filter(): filter rows based on a condition
groupby(): group rows by one or more columns and perform aggregation operations
merge(): merge two DataFrames based on a common column
pivot_table(): create a pivot table from a DataFrame
sort_values(): sort rows by one or more columns
apply(): apply a function to each row or column of the DataFrame
Here is an example of using the drop() function:

In [6]:
import pandas as pd

data = {'Name': ['John', 'Mary', 'David', 'Jane'],
        'Age': [25, 31, 42, 28],
        'Score': [90, 85, 95, 88]}
df = pd.DataFrame(data)

# Drop the row with Age 31
df = df.drop(df[df['Age'] == 31].index)
print(df)

    Name  Age  Score
0   John   25     90
2  David   42     95
3   Jane   28     88

### Q7. Create a DataFrame using multiple Series. Explain with an example.

You can create a DataFrame using multiple Series by passing a dictionary of Series objects to the pd.DataFrame constructor.

Here is an example:

In [7]:
import pandas as pd

# Create three Series
series1 = pd.Series([1, 2, 3], name='A')
series2 = pd.Series([4, 5, 6], name='B')
series3 = pd.Series([7, 8, 9], name='C')

# Create a DataFrame using the three Series
df = pd.DataFrame({'A': series1, 'B': series2, 'C': series3})
print(df)

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9